@CHARSET "UTF-8";
.input-order{height:24px;padding:0px 5px;text-align:center;}
.breadcrumb{margin-bottom:5px;}
/*
.control-label{display:inline-block;width:30%;}
.form-control{display:inline-block;width:66%;}
*/